@model List<Ornek.Entities.Models.Products>
@{Layout = null; }
    <h1>   Display Products </h1>
    <table class="table table-hover">
        <tr class="unselectable">
            <th>Product Name</th>
            <th>Barcode</th>
            <th>Category</th>
            <th>Unit Price</th>
            <th>Stock Quantity</th>
            <th>Status</th>
            <th>Description</th>
        </tr>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.Barcode</td>
                @if (item.Category == 1)
                {
                    <td>Electronics</td>

                }
                else if (item.Category == 2)
                {
                    <td>Computers</td>
                }
                else if (item.Category == 3)
                {
                    <td>Home</td>
                }
                else if (item.Category == 4)
                {
                    <td>Kitchens</td>
                }

                <td>@item.UnitPrice</td>
                <td>@item.StockQuantity</td>
                @if (item.IsActive == true)
                {
                    <td>✔️</td>

                }
                else
                {
                    <td>❌</td>
                }

                @if (item.Description == null)
                {
                    <td>❌</td>

                }
                else
                {
                    <td>@item.Description</td>
                }
                <td> <button class="btn btn-warning md" type="button" onclick="ProductUpdate(@item.ProductID)">Update</button></td>

                <td> <button class="btn btn-danger md" type="button" onclick="ProductDelete(@item.ProductID)">Delete</button></td>

            </tr>

            }

        </tbody>
    </table>